/*rule/////////////////////////////////////////////////////////////////*/

/*
body{
}
body>*{
    position:absolute;
}
body:first-child{
    z-index: 5;
}
body:nth-child(2){
top:calc(5vh + 1em);
}
body>*>*{
    position: relative;
}
*/

		* {
			margin: 0;
			padding: 0;
		}

		body {
            overflow: hidden;
		}


		html,
		body,
		.fullH {
			height: 100%;
		}
        

		html,
		body,
		.fullW {
			width: 100%;
		}

		.cV,
		.cH {
			display: flex;
		}

		.cV {
			flex-direction: column;
		}

		.cH {
			flex-direction: row;
		}

		.grow {
			flex-grow: 1;
		}

		#head {
			font-size: 5vh;
			vertical-align: middle;
			box-shadow: 0 -10px 15px 11px #AAA;
			margin-bottom: 0.5em;
		}

		#title,
		#prev,
		#next {
            color: #EEE;
			text-align: center;
			padding-bottom: 0.5em;
			max-height: 5vh;
		}

		#title {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}

		#prev,
		#next {
            color: #EEE;
			font-weight: bold;
			min-width: 1em;
			border-radius: 2em;
		}

/*/rule/////////////////////////////////////////////////////////////////*/

div{
    width: 100%;
    overflow/*はみ出る*/: auto;/*はみ出た所をスクロールで表示*/
}

body{
    width: 100%;
    height: 100%;
    background: #CCC;
}

#Header{
    background: #DDD;
    color: rgba(0, 0, 0, 0.5);
	text-align: center;
	padding-bottom: 0.5em;
	height: 5vh;
}

.scroll{
    border: 10px;
    padding: 0;
    width: 100%;
    height: 74%;
    overflow: scroll;
}

.menu,
.submit_btn1,
.submit_btn2{
    display:inline-block;
}

.submit_btn1{
    width: 160px;
    height: 80px;
    border-radius: 8px;
    font-size: 20px;
    color: rgba(50, 0, 150, .8);
    padding: 10px;
    background: #EEE;
}

.submit_btn1:hover{
    border: solid #EEE;
    color: #EEE;
    background-color: rgba(0, 0, 0, .5)
}

.submit_btn2{
    width: 160px;
    height: 80px;
    border-radius: 8px;
    font-size: 20px;
    color: rgba(50, 0, 150, .8);
    padding: 10px;
    background: #EEE;
}

.submit_btn2:hover{
    border: solid #EEE;
    color: #EEE;
    background-color: rgba(0, 0, 0, .5)
}

#circlesc{
	background-image: url(chat.png);
	display:inline-block;
	border: solid 1px #EEE;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	transition: 250ms
}

#circles{
	background-image: url(matrix.jpg);
	display:inline-block;
	border: solid 1px #EEE;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	transition: 250ms

}

.exp_box{
	margin: auto 0;
	width: 100%;
	height: 20%;
}

.exp_title{
	display: inline;
	font-size: 40px;
	transition: 250ms;
	text-align: left;
}

.exp{
	font-size: 10px;
	transition: 250ms;
	text-align: left;
}

.exp_box:hover>.circle{
	width: 10px;
	height: 10px;
}

.exp_box:hover>.exp_title {
	font-size: 10px !important;
}

.exp_box:hover>.exp{
	font-size: 40px;
}

p{
    font-size: 40px; 
    text-align: center;
}

div.hidden_show,
div.hidden_box{
	margin: 10px auto;
}

.boxmenu {
	width: 80em;
	height: 10em;
	margin: auto;/*上下、左右*/
	border: 2px solid #427c4a;
	background-color: #d3ffe4;
	opacity: .8;
}

label::before{
	content: "New!";
	color: #ff4444;
}

label:checked::after{
	content: "checked!";
	color: #bb00ff;
}

#label1:checked + .used{
	color: #bb00ff;
}

.info{
	font-size: 20px;
	text-align: left;
}

.info::before{
	content: ">";
	font-size: left;
}

.point{
	width: 9em;
	height: 12em;
	background: url(こちら～.png);
}

#footer{
	box-shadow: 0 6px 15px 11px #AAA;/*影境界線*/
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 15%;
    background-color: rgba(150, 0, 50, .4);
    transition: .6s;
}

#footer:hover{
    height: 50%;
}

#source{
    bottom: 0;
    font-size: 10px;
}

/*hidden message*/
.hidden_box {
	margin: 2em 0;
	padding: 0;
}

.hidden_box label {
	padding: 15px;
	font-weight: bold;
}

/*
.hidden_box label:hover {
	background: #EEE;
}*/

.hidden_box .hidden_show {
	height: 0;
	padding: 0;
	overflow: hidden;/*↑box,show 後ろを隠す*/
	opacity: 0;
	transition: 0.8s;
}

#label1:checked + .hidden_show {
	padding: 10px 0;
	height: auto;
	opacity: 1;
	overflow: visible;
}


